.title {
    color: darkblue;
}

body {
    text-align: center;
    background-image: url('images/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}