# fly.toml app configuration file generated for seniorexpo2526 on 2026-01-20T17:51:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
# postgres connection string: postgres://postgres:hqruyrABLah8Ghb@search-db.flycast:5432
# format                      postgres://username:password@hostname:5432/database

app = 'seniorexpo2526'
primary_region = 'dfw'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
